{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<script type=text/javascript src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='js/vote.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='js/posts.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='js/hover.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='js/selectors.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

