{% 	extends "gallery/end.html" %}

{% block img %}

<center>
	<div class="container" id='{{ POSTID }}'>
		<a href='#{{ POSTID }}'>
			<p class="tag title">{{ TITLE }}</p>
			<img class="pic" height="1080" src="{{ SRC }}">

	<div class="content" style='position:relative; padding-bottom:calc(42.19% + 44px)'>
	<iframe src='https://gfycat.com/ifr/{{ WEBID }}' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe>
	</div>
{% endblock %}
