body {
	background-color:#343434;
}

.text, .title {
	color: white;
	font-weight: bold;
}

#badlogin {
	color: red;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}


.notUp, .notDown, .clear, .notsave, .save {
	color: white;
}

.up {
	color: #ff4500;
}

.down {
	color: #7193ff;
}
