{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

	{% block error %}{% endblock %}

	<form class='text' method="post">
    	<label for="username">Username </label>
    	<input name="username" id="username" required>
		</br>

    	<label for="password">Password </label>
    	<input type="password" name="password" id="password" required>
		</br>

		<label for="accpassword">Reddit Gallery Password </label>
    	<input type="password" name="accpassword" id="accpassword" required>
		</br>

		<label for="client_id">Client Id </label>
    	<input type="client_id" name="client_id" id="client_id" required>
		</br>
		
		<label for="client_secret">Client Secret </label>
    	<input type="client_secret" name="client_secret" id="client_secret" required>
		</br>
		
    	<input type="submit" value="Register">
	</form>
{% endblock %}
