body {
	background-color: #343434;
}

.container {
	position: relative;

}

.tag{
	  position: absolute;
  left: 0;
padding: 10px;
  width: 100%;
  text-align: center;
	opacity: 0;
}

.votes {
	background-color: #343434;
	color: white;
	font-weight: bold;
	bottom: 0;
}

.title {
	background-color: #343434;
	color: white;
	font-weight: bold;
	top: 0;

}

.content{
	margin-top: 20px;
}


#delete {
	color: red;
	border: 1px solid red;
	border-radius: 5px;
	background-color: red;
	width: 170px;
	height: 70px;
	text-decoration: none;
	line-height: 70px;
	text-align: center;
}

#deleteLink {
	margin: auto;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.text {
	color: white;
}

.NSFW, .False {
	color: red;
	font-weight: bold;
	text-decoration: none;
}

#badlogin {
	color: red;
}

a:link, a:visited, a:hover, a:active {
	color: white;
}


.notUp, .notDown, .clear, .notsave, .save {
	color: white;
}

.up {
	color: #ff4500;
}

.down {
	color: #7193ff;
}

.upv, .downv, .savev {
	display: inline-block;
}

#usr {
	text-decoration: none;
}

nav {
	border-bottom: 5px solid grey;
	display: flex; 
	align-items: center; 
	padding: 0 0.75rem; 
	margin: -8px 0px 0px 0px;
	position: fixed;
	width: 99%;
	background-color: rgba(52, 52, 52, 0.5);
	z-index: 5;
}

nav h1 { 
	flex: auto; 
	margin: 0; 
}

nav h1 a { 
	text-decoration: none;
	padding: 0.25rem 0.5rem; 
}

nav ul  { 
	display: flex; 
	list-style: none; 
	margin: 0; 
	padding: 0; 
}

nav ul li a, nav ul li span, header .action { 
	display: block; 
	padding: 0.5rem; 
}



